<footer id="generalFooter">
  <header>
    <a href="home.html">
      <img id="logoGeneralFooterImg" src="assets/media/general/logo.svg" alt="Friendly Logo">
    </a>
  </header>

  <section>
    <nav id="generalFooterNav">
      <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Nosotros</a></li>
          <li><a href="#">Servicios</a></li>
          <li><a href="#">Contacto</a></li>
      </ul>
    </nav>

    <article id="generalFooterSloganArticle">
      <img src="assets/media/general/limpiamosConElCorazon.svg" alt="Limpiamos con el corazón">
    </article>

    <aside id="generalFooterContactAside">
      <div id="generalFooterTelefonoDiv">
        <a href="tel://+51985881334">985-881-334</a>
      </div>
      <div id="generalFooterRedesSocialesDiv">
        <ul>
          <li>
            <a href="#"><img src="assets/media/general/facebookIcon.svg" alt="Icono de Facebook"></a>
          </li>
          <li>
            <a href="#"><img src="assets/media/general/instagramIcon.svg" alt="Icono de Instagram"></a>
          </li>
        </ul>
      </div>
    </aside>
  </section>

  <section id="generalCopyrightSection">
    <p>© Copyright 2022. Todos los derechos reservados. Friendly</p>
  </section>
</footer>
