<nav id="generalNav">
  <a id="generalLogoAnchor" href="index.html">
    <img id="logoGeneralImg" src="assets/media/general/logo.svg" alt="Friendly Logo">
  </a>

  <a id="generalMenuAnchor" href="javascript:toggleMenu();">
    <img src="assets/media/general/menuIcon.svg" alt="">
  </a>

  <ul id="generalMenuUl">
      <li><a href="index.html"><p>Inicio</p></a></li>
      <li><a href="nosotros.html"><p>Nosotros</p></a></li>
      <li><a href="servicios.html"><p>Servicios</p></a></li>
      <li><a href="contacto.html"><p>Contacto</p></a></li>
  </ul>
</nav>
