/* FONTS */

@font-face {
  font-family: "Oduda";
  font-weight: bold;
  src: url(../resources/fonts/Oduda/Oduda-Bold.otf);
}

@font-face {
  font-family: "DM Serif Display";
  font-weight: normal;
  src: url(../resources/fonts/DMSerifDisplay/DMSerifDisplay-Regular.ttf);
}

@font-face {
  font-family: "DM Serif Display Italic";
  font-weight: italic;
  src: url(../resources/fonts/DMSerifDisplay/DMSerifDisplay-Italic.ttf);
}

@font-face {
  font-family: "Rimouski Bold";
  font-weight: bold;
  src: url(../resources/fonts/Rimouski/Rimouski-Bold.ttf);
}

@font-face {
  font-family: "VentiCF";
  font-weight: bold;
  src: url(../resources/fonts/VentiCF/VentiCF-DemiBold.otf);
}

@font-face {
  font-family: "Chai";
  font-weight: normal;
  src: url(../resources/fonts/Chai/Chai-Regular.ttf);
}

/* GENERAL */

* {
	margin: 0px;
	padding: 0px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-decoration: none;
	font-size: 0px;
	color: black;
	font-family: sans-serif;
	font-weight: 400;
}

body {
  max-width: 1366px;
  margin: 0px auto;
}

body > * {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

/*@media all and (max-width: 600px) {
  body {
    max-width: 375px;
  }

  body > * {
    max-width: 335px;
  }
}*/

@media all and (max-width: 1024px) {
  body {
    max-width: 100%;
    width: 100%;
  }
}

/* GENERAL NAV */

nav#generalNav {
  width: 100%;
  padding: 0px 108px;

  height: 154px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media all and (max-width: 1024px) {
  nav#generalNav {
    padding: 0px 44px;
    height: 120px;
  }
}

@media all and (max-width: 600px) {
  nav#generalNav {
    padding: 0px 20px;
    padding-top: 20px;
    height: auto;

    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
  }
}

nav#generalNav img#logoGeneralImg {
  height: 44px;
}

@media all and (max-width: 1024px) {
  nav#generalNav img#logoGeneralImg {
    height: 36px;
  }
}

nav#generalNav a#generalMenuAnchor {
  display: none;
}

@media all and (max-width: 600px) {
  nav#generalNav a#generalMenuAnchor {
    display: block;
    position: absolute;
    top: 22px;
    right: 20px;
  }
}

nav#generalNav ul {
  display: flex;
  flex-direction: row;
  gap: 40px;
  overflow: visible;
  transition: height 0.3s ease-in;
}

@media all and (max-width: 1024px) {
  nav#generalNav ul {
    gap: 20px;
  }
}

@media all and (max-width: 600px) {
  nav#generalNav ul {
    height: 0px;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    overflow: hidden;
  }

  nav#generalNav ul.visible {
    height: auto;
  }

  nav#generalNav ul.visible:after {
    content: "";
    display: block;
    bottom: 1px;
    height: 1px;

    background: grey;
    opacity: 0.5;
  }

  body.light nav#generalNav ul.visible:after {
    background: white;
  }
}

nav#generalNav li {
  overflow: visible;
}

nav#generalNav li a{
  overflow: visible;
  position: relative;
  display: inline-block;
}

nav#generalNav li a p{
  font-family: "Oduda", sans-serif;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 17px;
  color: black;
  text-transform: uppercase;
  overflow: visible;
  position: relative;
}

@media all and (max-width: 1024px) {
  nav#generalNav li a p {
    font-size: 14px;
  }
}

@media all and (max-width: 600px) {
  nav#generalNav li a p {
    font-size: 18px;
  }
}

nav#generalNav li a:hover:after {
  display: block;
  content: "";
  position: absolute;
  top: 110%;
  left: 0px;
  background-image: url("../media/general/navSonrisa.svg");
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  height: 17px;
  width: 100%;
}

@media all and (max-width: 1024px) {
  nav#generalNav li a:hover:after {
    height: 14px;
  }
}

body.light nav#generalNav img#logoGeneralImg {
  filter: brightness(0) invert(1);
}

body.light nav#generalNav a#generalMenuAnchor img {
  filter: brightness(0) invert(1);
}

body.light nav#generalNav li a p{
  color: white;
}

body.light nav#generalNav li a:hover:after {
  filter: brightness(0) invert(1);
}

/* GENERAL MAIN */

main#generalMain > section {
  margin-bottom: 160px;
}

@media all and (max-width: 1024px) {
  main#generalMain > section {
    margin-bottom: 140px;
  }
}

@media all and (max-width: 600px) {
  main#generalMain > section {
    margin-bottom: 120px;
  }
}

main#generalMain > section > header {
  text-align: center;
  margin-bottom: 30px;
}

@media all and (max-width: 600px) {
  main#generalMain > section > header {
    margin-bottom: 40px;
  }
}

main#generalMain > section > header h1 {
  text-transform: uppercase;
  font-family: "Rimouski Bold", sans-serif;
  font-weight: bold;
  font-size: 60px;
  color: #FFC400;
  line-height: 80%;
}

@media all and (max-width: 600px) {
  main#generalMain > section > header h1 {
    font-size: 40px;
  }
}

main#generalMain > section > header h2 {
  font-family: "DM Serif Display Italic", serif;
  font-style: italic;
  font-size: 50px;
}

@media all and (max-width: 600px) {
  main#generalMain > section > header h2 {
    font-size: 30px;
  }
}

/* GENERAL SERVICIOS */

article#generalServiciosArticle {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

@media all and (max-width: 600px) {
  article#generalServiciosArticle {
    margin-top: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 40px;
    padding: 0px 20px;
  }
}

article#generalServiciosArticle div.generalServicioDiv {
  border: solid 6px #00BCC2;
  border-radius: 100px;
  padding: 30px;
  width: 300px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media all and (max-width: 600px) {
  article#generalServiciosArticle div.generalServicioDiv {
    width: auto;
    border-radius: 100px;
  }
}

div.generalServicioDiv  header {
  margin-bottom: 20px;
}

div.generalServicioDiv header h1 {
  font-family: "Rimouski Bold", sans-serif;
  font-weight: bold;
  color: #FFC400;
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
}

article#generalServiciosArticle.light div.generalServicioDiv header h1 {
  color: white;
}

div.generalServicioDiv ul {
  margin-bottom: 20px;
  list-style:none;
}

div.generalServicioDiv li {
  font-family: "VentiCF", sans-serif;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 14px;

  padding-left: 26px;
  background-image: url("../media/general/check.svg");
  background-repeat: no-repeat;
  background-position: left top;
}

article#generalServiciosArticle.light div.generalServicioDiv li {
  background-image: url("../media/general/check-light.svg");
}

@media all and (max-width: 600px) {
  div.generalServicioDiv li {
    font-size: 18px;
  }
}

div.generalServicioDiv a {
  display: block;
  background: #00BCC2;
  padding-top: 14px;
  padding-bottom: 10px;

  padding-left: 18px;
  padding-right: 18px;

  border-radius: 24px;
  width: max-content;

  margin: 0px auto;
}

div.generalServicioDiv a:hover {
  background: #0CA4A9;
}

div.generalServicioDiv a h1 {
  font-family: "Rimouski Bold", sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin: 0px auto;
  color: white;
}

@media all and (max-width: 600px) {
  div.generalServicioDiv a h1 {
    font-size: 24px;
  }
}

/* GENERAL FOOTER */
footer#generalFooter {
  margin-top: 50px;
  padding-bottom: 50px;
}

@media all and (max-width: 1024px) {
  footer#generalFooter {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media all and (max-width: 600px) {
  footer#generalFooter {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
}

footer#generalFooter:before {
  display: block;
  margin-left: -20px;
  margin-right: -20px;
  content: "";
  height: 6px;
  background: #00BCC2;
  border-radius: 3px;

  margin-bottom: 50px;
}

footer#generalFooter > header {
  margin-bottom: 30px;
}

footer#generalFooter img#logoGeneralFooterImg {
  filter: brightness(0);
  height: 40px;
}

footer#generalFooter > section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  position: relative;
}

footer#generalFooter nav#generalFooterNav li a{
  font-family: "Oduda", sans-serif;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 15px;
  color: black;
  text-transform: uppercase;
}

footer#generalFooter nav#generalFooterNav li:nth-last-of-type(n+2) {
  margin-bottom: 20px;
}

footer#generalFooter article#generalFooterSloganArticle {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

@media all and (max-width: 600px) {
  footer#generalFooter article#generalFooterSloganArticle {
    display: none;
  }
}

footer#generalFooter article#generalFooterSloganArticle img {
  display: block;
}

@media all and (max-width: 1024px) {
  footer#generalFooter article#generalFooterSloganArticle img {
    width: 50%;
  }
}

footer#generalFooter aside#generalFooterContactAside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 30px;

  width: 200px;
}

footer#generalFooter div#generalFooterTelefonoDiv a{
  display: block;
  width: 100%;

  font-family: "VentiCF", sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

@media all and (max-width: 600px) {
  footer#generalFooter div#generalFooterTelefonoDiv a{
    text-align: right;
  }
}

footer#generalFooter div#generalFooterRedesSocialesDiv ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

@media all and (max-width: 600px) {
  footer#generalFooter div#generalFooterRedesSocialesDiv ul{
    justify-content: flex-end;
  }
}

footer#generalFooter div#generalFooterRedesSocialesDiv li img{
  width: 36px;
  height: 36px;
}

footer#generalFooter section#generalCopyrightSection {
  margin-top: 50px;
}

footer#generalFooter section#generalCopyrightSection p {
  font-family: "VentiCF", sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #909090;

  margin: 0px auto;
}
